body {
  height: 100vh;
  overflow: auto;
  background-repeat: no-repeat;
  background-color: #f0a150 !important;
}

.container {
  font-family: "Gill Sans Extrabold", sans-serif;
  padding: 2px;
}
.signUp {
  color: #f0a150;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 50vh;
  box-shadow: 0px 10px 10px black(0, 0, 0, 0.3);
  padding: 2%;
  border: 2px solid white;
  border-radius: 35px;
  animation: fadeInAnimation ease 2s;
}

#logoImage {
  width: 10px;
  height: 10px;
}

.signUp form input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #f0a150;
  border-radius: 0px;
}

h1 {
  color: white !important;
  text-align: center;
}

button {
  color: #f0a150 !important;
  border-color: #f0a150 !important;
}

button:hover {
  background-color: #f0a150 !important;
  color: white !important;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
