<h1>Sign Up</h1>

<div class="signup-container">
        <div class="signUp">

            <form class="row g-3 needs-validation" action="/signUp/data" method="post" id="registration-form">
                <span id="errorDisplay" > {{error}} </span>
                <img id = "icon" src='../public/static/images/user.svg' alt="user icon">

                <div class="col-md-12">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id = "firstName" name="firstName">
                </div>

                <div class="col-md-12">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName">
                </div>

                <div class="col-md-12">
                    <label for="age" class="form-label">Age</label>
                    <input type="number" class="form-control" id="age" placeholder="Must be older than 18 years" name="age">
                </div>

                <div class="col-md-12">
                    <label for="emailAddress" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailAddress" name="emailAddress">
                </div>

                <div class="col-md-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Must be atleast 8 characters" id="password" name="password">
                </div> 

                <div class="col-md-12">
                    <label for="cpassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Must be atleast 8 characters" id="cpassword" name="cpassword">
                </div> 

                <div class="col-md-12">
                    <label for="candidateType" class="form-label">Candidate Type</label>
                    <select name="candidateType" id="candidateType">

                        <option value="Student">Student</option>
                        <option value="Company">Company</option>

                    </select>
                </div> 

                <span>Already a User <a href="/logIn">Log In</a></span>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-outline-info">Sign Up</button>
                </div>

            </form>

        </div>

    </div>