{{! 
This page wil be rendered if the user does not input text into their form, make sure to give a response status code of 400 on the page, and render a valid HTML page with a paragraph class called 'error'; this paragraph should describe the error.
}}
<p class="error">{{error}}</p>
<p class="error">{{message}}</p>
<a href="/">Homepage</a>