{{!

This page will respond with a valid HTML document. The title of the document should be "Venue Finder". You should have
the title set as the <title> element of the HTML document and as an h1 in your document.

    Your page should reference a CSS file, /public/css/main-styles.css; this file should have at least 5 rulesets that
    apply
    to this page; these 5 rules can also apply to elements across all of your pages, or be unique to this page.

    You should have a main element, and inside of the main element have a p element with a brief (2-3 sentence
    description) of what your website does.

    Also inside the main element, you will have a form; this form will POST to the /searchvenues route. This form will
    have an input and a label; the label should properly reference the same id as the input using the for attribute. You
    should also have an input with a type of submit that submits the form. The input in your form should have a name of
    searchVenueTerm.

}}
<h1>{{{title}}}</h1>
<main>

    <ol>
        <li>Use <a href="/team">"/team"</a> to get all the teammates info from the database</li>
        <li>Use <a href="/signUp">"/signUp"</a> to get test signUp</li>
        <li>Use <a href="/logIn">"/logIn"</a> to get test LogIn</li>
        <li>Use <a href="/company">"/company"</a> to get test createCompany</li>
        <li>Use <a href="/groups">"/groups"</a> to get test LogIn</li>
    </ol>

</main>