{{!

This page will respond with a valid HTML document. The title of the document should be "Venue Finder". You should have
the title set as the <title> element of the HTML document and as an h1 in your document.

    Your page should reference a CSS file, /public/css/main-styles.css; this file should have at least 5 rulesets that
    apply
    to this page; these 5 rules can also apply to elements across all of your pages, or be unique to this page.

    You should have a main element, and inside of the main element have a p element with a brief (2-3 sentence
    description) of what your website does.

    Also inside the main element, you will have a form; this form will POST to the /searchvenues route. This form will
    have an input and a label; the label should properly reference the same id as the input using the for attribute. You
    should also have an input with a type of submit that submits the form. The input in your form should have a name of
    searchVenueTerm.

}}

<!-- =====
  About Us
===== -->

<div class="container" id="about-us-container">

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          id="about-us-img"
          src="/public/images/aboutUs.png"
          class="img-fluid rounded-start"
          alt="Better Interview Book Logo"
        >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">About Us</h1>
          <p class="d-flex card-text">The landscape of job searching and career
            planning is more complex than ever with candidates seeking out
            opportunities that align with their personal interests and more than
            ever wanting to make an impact and find meaningful work. As such, we
            would like to build a modern career planning and job searching
            portal that serves our generation in pursuing organizations that
            meet their specific criteria. Our web application is more than a
            traditional job board.
          </p>
          <p>
            We are creating a platform that assists candidates and employers
            alike in making recommendations and matching, allows for users to
            network with like minded peers around common interests, research
            companies based on not only industry but also company visions, and
            even upskill themselves on how to become more effective and
            successful candidates. We are pleased to introduce Better Interview
            Book, the ultimate job candidate and employer platform for tech
            professionals.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- =====
  About Us
===== -->

{{! <!-- =====
  Carousel
===== -->

    <div id="carouselExampleDark" class="carousel carousel-dark slide" style="height: 80vh !important;">

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <div class="carousel-caption d-none d-md-block">
                <h5>Better Interview Book</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    </div>

<!-- =====
  Carousel
===== --> }}

{{! <main>

    <ol>
        <li>Use <a href="/team">"/team"</a> to get all the teammates info from the database</li>
        <li>Use <a href="/signUp">"/signUp"</a> to get test signUp</li>
        <li>Use <a href="/logIn">"/logIn"</a> to get test LogIn</li>
        <li>Use <a href="/company">"/company"</a> to get test createCompany</li>
        <li>Use <a href="/groups">"/groups"</a> to get test LogIn</li>
        <li>Use <a href="/network">"/network"</a>to get network</li>
    </ol>

</main> }}