body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 225px;
  height: auto;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.github-logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.event-box {
  border: 1px solid rgb(6, 23, 50);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #90b5bf;
}

.event-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 15px 0;
}
