body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 225px;
  height: auto;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.github-logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.event-box {
  border: 1px solid rgb(6, 23, 50);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #90b5bf;
}

.event-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 15px 0;
}

.event-title {
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}

.event-title-text {
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
  color: blue;
}

.action-button {
  display: inline-block;
  padding: 7px 11px;
  margin-bottom: 1;
  font-size: 15px;
  font-weight: 411;
  line-height: 1.3;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #256196;
  color: rgb(240, 240, 245);
  text-decoration: none;
}

.action-button:hover,
.action-button:focus {
  background-color: #286090;
  color: #fff;
  text-decoration: none;
}

.activity-box {
  background-color: #da8787;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.activity-title {
  font-weight: bold;
  margin-right: 8px;
}

.activity-title-text {
  font-weight: normal;
}

.oval-text {
  display: inline-block;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 8px 16px;
}
