body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 225px;
  height: auto;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
