body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 225px;
  height: auto;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.github-logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.event-box {
  border: 1px solid rgb(6, 23, 50);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #90b5bf;
}

.event-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 15px 0;
}

.event-title {
  font-weight: bold;
  text-decoration: underline;
  color: 90b5bf;
}

.event-title-text {
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
  color: 0000e3;
}

.action-button {
  display: inline-block;
  padding: 7px 11px;
  margin-bottom: 1;
  font-size: 15px;
  font-weight: 411;
  line-height: 1.3;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #5177a4;
  color: rgb(240, 240, 245);
  text-decoration: none;
}

.action-button:hover,
.action-button:focus {
  background-color: #286090;
  color: #fff;
  text-decoration: none;
}

.activity-box {
  background-color: #da8787;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.activity-title {
  font-weight: bold;
  margin-right: 8px;
}

.activity-title-text {
  font-weight: normal;
}

.oval-text {
  display: inline-block;
  background-color: #6c6eb3;
  border: 2px solid rgb(124, 30, 172);
  border-radius: 75px;
  padding: 8px 16px;
}

.small-square {
  width: 45px;
  height: 45px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
}

.card-title {
  color: blue;
  font-style: italic;
}

.error-message {
  color: red;
  font-size: 14px;
}

.calendar {
  max-width: 35%;
  overflow: auto;
  background-color: #e0f0e9;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  margin-bottom: 1rem;
}

.btn-primary {
  color: white !important;
}

.btn-sky-blue {
  background-color: skyblue;
  color: white;
}

.network-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #1f8aff;
  box-shadow: 0px 0px 5px #1f8aff;
  text-align: center;
  z-index: 100;
}

.network-button a {
  color: white;
  display: inline-block;
  margin-top: 12px;
}

.network-button a:hover {
  color: white;
  text-decoration: none;
}

.github-logo {
  width: 34px;
  height: 34px;
  filter: brightness(0) saturate(100%) invert(29%) sepia(99%) saturate(409%)
    hue-rotate(194deg) brightness(99%) contrast(101%);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-tile {
  background-color: lightblue;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.messageLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  background-color: lightgray;
}

.gender-oval {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.male-color {
  background-color: blue;
}

.female-color {
  background-color: pink;
}

.prefer-not-to-say-color {
  background-color: green;
}

.status-oval {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: blue;
  color: white;
  font-size: 14px;
}
