<link rel="stylesheet" href="/public/css/group-details.css" />

<div class="container">
  <h1>Add Activity</h1>
  <div>
    <a href="javascript:history.back();">Back to Group Details</a>

    <form
      action="/groups/{{_id}}/activityAdd"
      method="POST"
      id="activity-add-form"
    >
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" />
        <label for="message">Message</label>
        <input type="text" name="message" id="message" class="form-control" />
      </div>
      <div id="error" class="error"></div>
      <input type="submit" value="Save" class="btn btn-primary" />
    </form>
  </div>
</div>

<script src="/public/js/activityAdd.js"></script>