<div class="container">
  <h1>List of Users in {{groupName}}</h1>
  <ul>
    {{#each users}}
      <li><a href="/profile/{{id}}">{{name.firstName}}</a></li>
    {{/each}}
  </ul>
  <div>
    <img
      src="https://blog.hubspot.com/hs-fs/hubfs/Smiling%20Leo%20Perfect%20GIF.gif?width=595&amp;height=400&amp;name=Smiling%20Leo%20Perfect%20GIF.gif"
      alt="Smiling Leo DiCaprio GIF"
      width="300"
      height="200"
    />
  </div>

  <a href="/groups/{{groupId}}">Back to Group Details</a>
</div>