<link rel="stylesheet" href="/css/group-details.css">

<div class="container">
  <h1>Group Details</h1>
  <div>
    <a href="javascript:history.back();">Back to Search Results</a>

    {{!-- {{#if image}}
    <img src="data:image/png;base64,{{image}}" alt="Group Image" />
    {{/if}} --}}

    <form action="/groups/{{_id}}/updateimage" method="POST" enctype="multipart/form-data">
      <div class="custom-file mb-3">
        <input type="file" name="image" id="file" class="custom-file-input">
        <label for="file" class="custom-file-label">Choose File</label>
      </div>
      <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
    <form action="/groups/{{_id}}/updatename" method="POST">
      <div class="custom-file mb-3">
        <input type="text" name="name" id="file" class="custom-file-input">
        <label for="name" class="custom-file-label">Please update name</label>
      </div>
      <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>